# === Archivos del proyecto excluidos ===
Objetivos.txt
scr/09_Generar_Informe_Word.py
results/Informe_Segmentacion_Clientes.docx

# === Python ===
__pycache__/
*.py[cod]
*$py.class
*.so

# === Entornos virtuales ===
venv/
env/
.env/

# === IDEs ===
.vscode/
.idea/
*.swp
*.swo

# === Sistema operativo ===
Thumbs.db
.DS_Store

# === Jupyter Notebook ===
.ipynb_checkpoints/

# === Distribuciones ===
dist/
build/
*.egg-info/
